.eg-selected {
    align-items: center !important;
    background-repeat: no-repeat;
    border: 3px solid white !important;
    box-shadow: 4px 4px 48px 24px rgba(0, 0, 0, 1) inset;
    color: white;
    display: flex !important;
    justify-content: center !important;
    min-height: 100%;
}

.eg-selected a {
    font-size: 22px;
    font-weight: bold;
    position: relative !important;
}

.eg-selected img {
    display: none !important;
}